@model IEnumerable<KCIAOGS24.NET.Application.Dtos.Edits.EnergiaSolarEditDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Energia Solar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.areaPlaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.irradiacaoSolar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.energiaEstimadaGerada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fk_endereco)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.areaPlaca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.irradiacaoSolar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.energiaEstimadaGerada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fk_endereco)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
