@model KCIAOGS24.NET.Domain.Entities.EnderecoEntity

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Endereco</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tipoResidencial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tipoResidencial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tarifa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tarifa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.gastoMensal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.gastoMensal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.economia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.economia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fk_usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fk_usuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
